@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
	--primary-clr: hsl(257, 40%, 49%);
	--secondary-clr: hsl(300, 69%, 71%);
	--background: url(../images/bg-mobile.svg);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

i {
	cursor: pointer;
}

body {
	background-color: var(--primary-clr);
	min-height: 100vh;
	position: relative;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
}

body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 50%;
	z-index: -1;
}

.container {
	padding-top: 3rem;
	width: 90%;
	margin: 0 auto;
}

img {
	width: 100%;
}

header {
	margin-bottom: 3.5rem;
}

.logo img {
	width: 40%;
}

.main-details {
	margin-top: 3.5rem;
	color: #fff;
	text-align: center;
}

.main-details h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
}

.main-details p {
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.65;
	margin: 2rem 0;
}

a.register {
	display: inline-block;
	background: #fff;
	color: var(--primary-clr);
	width: 60%;
	border-radius: 3rem;
	padding: 0.8rem 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	text-align: center;
	text-decoration: none;
	box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
	transition: all 300ms;
}

a.register:hover,
a.register:focus {
	background: var(--secondary-clr);
	color: #fff;
}

.social-links {
	display: flex;
	justify-content: center;
	margin: 5rem 0 3rem 0;
}

.social-links .fab {
	font-size: 1.1rem;
	padding: 0.8rem 1rem;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: all 300ms;
}

.social-links .fab:not(:last-child) {
	margin-right: 1.2rem;
}

.social-links .fab:hover,
.social-links .fab:focus {
	color: hsl(319, 91%, 65%);
	border-color: hsl(319, 91%, 65%);
}

.attribution {
	color: #fff;
	text-align: center;
	font-size: 1.1rem;
	padding-bottom: 1rem;
}

.attribution a {
	color: rgba(255, 255, 255, 0.8);
}

.attribution a:hover,
.attribution a:focus {
	color: var(--secondary-clr);
	text-decoration: none;
}

@media screen and (min-width: 800px) {
	body::after {
		--background: url(../images/bg-desktop.svg);
		background: var(--background);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
	}

	.container {
		padding-top: 4rem;
	}

	.logo img {
		width: 13rem;
	}

	header {
		margin-bottom: 5.4rem;
	}

	main {
		display: grid;
		grid-template-columns: 55% 45%;
		gap: 0 1.5rem;
	}

	.main-iamge {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.main-details {
		margin-top: 0;
		text-align: left;
	}

	.main-details h1 {
		font-size: 2rem;
		line-height: 1.5;
	}

	.main-details p {
		font-size: 1.2rem;
		line-height: 1.6;
		margin: 2.5625rem 0 1.7rem 0;
	}

	a.register {
		width: 40%;
		font-size: 1.1rem;
	}

	.social-links .fab {
		font-size: 1.3rem;
		padding: 0.9rem 1.1rem;
	}

	.attribution {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1150px) {
	.main-details {
		margin-top: 3rem;
	}

	.social-links {
		justify-content: flex-end;
	}
}
